/* Fundo cromado azul */
body {
    background: linear-gradient(135deg, #1e90ff 25%, #87cefa 75%);
    height: 100vh;
    margin: 0;
    color: white;
    font-family: 'Roboto', sans-serif;
}

/* Navbar e cabeçalho */
nav {
    background: #ffffff;
}

.navbar-brand {
    font-weight: bold;
}

/* Estilos de título */
h1 {
    color: rgb(34, 136, 34);
}

h2 {
    color: rgb(29, 3, 3);
    font-size: 1.5em;
    margin-top: 20px;
}

/* Imagem responsiva */
.card-img-top {
    width: 100%;
    height: auto;
}

/* Cartões */
.card-body {
    padding: 1.5rem;
}

/* Footer */
footer {
    background-color: #f8f9fa;
    padding: 1rem 0;
}

/* Estilos de texto do footer */
.footer-text {
    color: #6c757d;
}

/* Responsividade */
@media (max-width: 768px) {
    .d-flex {
        width: 100%;
        margin-bottom: 10px;
    }

    .user-icon {
        display: block;
        margin-top: 10px;
    }
}
